
/modules/std/prj/windows/visualStudio2010/Debug/std.lastbuildstate
/modules/std/prj/windows/visualStudio2010/Debug/std.log
/modules/std/prj/windows/visualStudio2010/Debug/std.write.1.tlog
/projects/rose/bin/windows/Debug/rose.ilk
/projects/rose/bin/windows/Debug/rose.pdb
/projects/rose/prj/windows/vs10/Debug/rose.exe.embed.manifest.res
/projects/rose/prj/windows/vs10/Debug/rose.lastbuildstate
/projects/rose/prj/windows/vs10/Debug/rose_manifest.rc
/projects/rose/prj/windows/vs10/Debug/vc100.idb
/projects/rose/prj/windows/vs10/Debug/vc100.pdb
/projects/rose/prj/windows/vs10/ipch/revcore-100818f7/revcore-c6699622.ipch
/projects/rose/prj/windows/vs10/ipch/rose-1f40df76/rose-4c680b65.ipch
/projects/rose/prj/windows/vs10/rose.opensdf
/projects/rose/prj/windows/vs10/rose.sdf
/projects/rose/prj/windows/vs10/rose.suo
*.tlog
/modules/baseLevel/core/prj/windows/vs12/Debug/*.log
*.lastbuildstate
*.sdf
*.suo
*.pdb
*.obj
*.idb
*.user
*.opensdf
*.log
*.cache
