/engine/build
build
*.suo
*.opendb
*.user
*.ipch
*.db
/engine/revAndroid/x86
/engine/revAndroid/x64
/engine/revAndroid/ARM
/player/.vs
*.a
*.so
profiler.txt
*.tlog
*.log
/player/androidPlayer/androidPlayer.NativeActivity/ARM
/player/androidPlayer/androidPlayer.NativeActivity/x86
/player/androidPlayer/androidPlayer.Packaging/ARM
/player/androidPlayer/androidPlayer.Packaging/x86
/player/x86/Debug
/player/ARM/Debug
/player/androidPlayer/x86/Debug
Debug
/player/androidPlayer/.vs/androidPlayer/v15
imgui.ini
indy
sports

/samples/Doom3/bin
/samples/gltfViewer/bin/aventador
/samples/gltfViewer/bin/polly
/samples/gltfViewer/bin/scifi
/samples/gltfViewer/bin/textures
/samples/gltfViewer/bin/scene.gltf
/samples/gltfViewer/bin/scene.bin
/samples/gltfViewer/bin/Default_normal.jpg
/samples/gltfViewer/bin/Default_metalRoughness.jpg
/samples/gltfViewer/bin/Default_emissive.jpg
/samples/gltfViewer/bin/Default_AO.jpg
/samples/gltfViewer/bin/Default_albedo.jpg
/samples/gltfViewer/bin/DamagedHelmet.gltf
/samples/gltfViewer/bin/DamagedHelmet.bin
/samples/gltfViewer/bin/bluep.gltf
/samples/gltfViewer/bin/bluep.bin
/samples/gltfViewer/bin/Bear_low_kolo_pneu_predni_Normal.png
/samples/gltfViewer/bin/Bear_low_kolo_pneu_predni_BaseColor.png
/samples/gltfViewer/bin/Bear_low_kastle_Normal.png
/samples/gltfViewer/bin/Bear_low_kastle_BaseColor.png
/samples/gltfViewer/bin/Bear_low_dvere_okna_Normal.png
/samples/gltfViewer/bin/Bear_low_dvere_okna_BaseColor.png
/samples/gltfViewer/bin/bear.gltf
/samples/gltfViewer/bin/bear.bin
/samples/gltfViewer/bin/fps
/samples/gltfViewer/bin/shaders/ui.vert.spv
/samples/gltfViewer/bin/shaders/ui.frag.spv
