/engine/build
build
/samples/gowShadows/profiler.txt
/samples/augmentedReality/android/Android/Android.NativeActivity/x86/Debug
/engine/revAndroid/x86/Debug
*.suo
*.opendb
/samples/augmentedReality/android/Android/Android.Packaging/x86/Debug
/samples/augmentedReality/android/x86/Debug
*.user
*.ipch
*.db
