[submodule "engine/lib/tinyxml2"]
	path = engine/lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "engine/lib/bullet"]
	path = engine/lib/bullet
	url = https://github.com/bulletphysics/bullet3.git
