[submodule "engine/lib/tinyxml2"]
	path = engine/lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "engine/lib/imgui"]
	path = engine/lib/imgui
	url = https://github.com/ocornut/imgui.git
